$glass: rgba(255, 255, 255, 0.2);
$glass-icon: rgba(87, 82, 82, 0.279);
$option: #5a7ee3;
$button-width: 40px;
$icon-width: 20px;

.custom-select {
  appearance: none;
  border: 0;
  outline: 0;
  width: 140px;
  height: 40px;
  padding: 0 47px 0 7px;
  margin: 0 15px;
  background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg)
      no-repeat right calc(calc($button-width - $icon-width) / 2) center /
      $icon-width,
    linear-gradient(to left, $glass-icon $button-width, $glass $button-width);
  color: black;
  border-radius: 10px;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;

  /* Remove focus outline */
  &:focus {
    outline: none;
  }
  /* Remove IE arrow */
  &::-ms-expand {
    display: none;
  }

  &__option {
    color: inherit;
    background-color: $option;
  }
}
